* {
    margin: 0;
    padding: 0;

}


button{
    padding: 20px;
    background-color: black;
}


.top{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.middle {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20%;
}

.middle-button {
    justify-content: space-between;
}

.bot{
    bottom: 0;
}

.container{
    display: flex;
    justify-content: space-between;
}